.gallery-card {
  flex: 1 1 40%;
  min-width: 150px;
  max-width: fit-content;
  max-height: 300px;
  cursor: pointer;
  position: relative;
  margin: 0;
}

.gallery-card-img {
  max-width: 250px;
  max-height: 300px;
  object-fit: contain;
  object-position: center;
}

.gallery-multi-sym {
  position: absolute;
  font-size: 1.5rem;
  margin: 0;
  top: 0.3em;
  right: 0.5em;
}
