.display-dialog:modal {
  position: absolute;
  padding: 0;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  border: transparent;
}

.display-dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.2);
}

.carousel {
  width: min(560px, 95vw);
  height: 85vh;
  position: relative;
}

.carousel-slide {
  position: absolute;
  display: grid;
  place-items: center;
  inset: 0;
  opacity: 1;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
  width: fit-content;
  height: fit-content;
  margin: auto;
}

.slide-img {
  display: block;
  max-width: 85%;
  max-height: 80vh;
  object-fit: contain;
  object-position: center;
  margin: 0;
}

.carousel-btn {
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 0 0.5rem;
  background-color: rgba(0, 0, 0, 0.1);
}

.carousel-btn:hover,
.carousel-btn:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}

.carousel-btn:focus {
  outline: 1px solid black;
}

.carousel-btn:not(.close) {
  top: 50%;
  transform: translateY(-50%);
}

.carousel-btn.prev {
  left: 0.5rem;
}

.carousel-btn.next {
  right: 0.5rem;
}
.carousel-btn.close {
  font-size: 1.5rem;
  top: 1rem;
  right: 1rem;
}

.carousel-img-count {
  position: absolute;
  inset: auto 0 0 0;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideOutLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slideOutRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
