/* page generic */
.page-main {
  text-align: center;
  margin-bottom: 4em;
}
.page-title,
.page-subtitle {
  font-family: "Imbue", serif;
  letter-spacing: 3px;
}

.page-title {
  font-size: 3rem;
}

.page-subtitle {
  font-size: 2rem;
}

.flex-container {
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center;
  align-items: center;
}

/* Home page */
.hero-img {
  width: 100%;
  max-width: 500px;
}
.hero-pres {
  max-width: 450px;
}

/* Gallery page*/
.gallery-container {
  max-width: 50em;
  padding: 2em;
}

/* About page */
.about-profile-img {
  border-radius: 50%;
}
.about-body {
  flex-basis: 100%;
  width: max-content;
}
