/* page generic */

.page-title {
  font-family: "Imbue", serif;
  font-size: 2.5rem;
  text-align: center;
}

.flex-container {
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center;
  align-items: center;
}

/* Home page */
.hero-img {
  max-width: 500px;
}
.hero-pres {
  max-width: 450px;
}

/* About page */
.about-body {
  flex-basis: 100%;
  width: max-content;
}
