header {
  text-align: center;
}

.pre-hero-title,
.hero-title {
  margin: 0 auto;
  width: max-content;
}
.hero-title {
  font-family: "MedievalSharp", "Italianno", cursive;
  font-size: clamp(4rem, 10vw, 6rem);
}

.pre-hero-title {
  font-family: "Imbue", serif;
  font-size: clamp(1.5rem, 5vw, 2rem);
  margin-top: 1em;
}
