.page-nav {
  display: flex;
  justify-content: center;
  gap: 2em;
  position: sticky;
  top: 0;

  background-color: #fff;
}

.nav-link {
  text-decoration: none;
  color: inherit;
}

.active-link {
  border-bottom: 3px solid black;
}
