.page-nav {
  display: flex;
  justify-content: center;
  gap: 2em;
  position: sticky;
  top: 0;
  padding: 1em;
  background-color: #e09145;
}

.nav-link {
  text-decoration: none;
  color: #292c35;
  font-weight: 700;
}

.active-link {
  border-bottom: 3px solid #292c35;
}
