.page-nav {
  display: flex;
  justify-content: center;
  gap: 2em;
  position: sticky;
  z-index: 10;
  top: 0;
  padding: 1em;
  background-color: #e09145;
}

.nav-link {
  text-decoration: none;
  color: #292c35;
  font-weight: 700;
  font-size: clamp(1rem, 1.6vw, 1.5rem);
  padding: 0.5em 1em;
  border-radius: 0.5em;
  transition: all 200ms ease-in;
}

.nav-link:hover {
  text-decoration: none;
  background-color: #292c35;
  color: #e09145;
  font-weight: 700;
}
.active-link {
  position: relative;
}

.active-link::before {
  content: "";
  width: calc(100% - 2em);
  height: 0.2em;
  background-color: #292c35;
  position: absolute;
  bottom: 0.1em;
  border-radius: 1000px;
}
